flask==2.3.3
tensorflow-cpu==2.12.0
pillow==9.5.0
numpy==1.23.5
flask-sqlalchemy==3.0.5
flask-login==0.6.2
flask-wtf==1.1.1
email_validator==2.3.0
dnspython==2.8.0
werkzeug==2.3.7
matplotlib==3.7.1
scikit-learn==1.2.2
flask-cors==4.0.0
gunicorn==20.1.0
